.background-img {
    width: 100%;
}

.header__navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 42px;
    background-color: transparent;
    z-index: 2;
}

.header__navbar:hover {
    background-color: var(--white-color);
    animation: fadeIn ease 1s;
}

.header__navbar-right {
    width: calc(100% - 850px);
}

.header__navbar-left {
    width: calc(100% - 850px);
}

.header__navbar-left {
    display: flex;
    justify-content: flex-end;
}

.header .header__navbar-left .header__navbar-left-list,
.header .header__navbar-right .header__navbar-right-list {
    list-style: none;
    display: flex;
}

.header__navbar-left-item,
.header__navbar-right-item {
    line-height: var(--height-header);
    padding: 0 16px;
}

.header__navbar-left-item::after,
.header__navbar-right-item::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 24px;
    top: 38px;
}

.header__navbar-right-item:hover .header__navbar-right-child {
    display: flex;
    animation: fadeIn ease 1s;
}

.header__navbar-left-link,
.header__navbar-right-link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
}

.header__navbar-left-link::before,
.header__navbar-right-link::before {
    content: "";
    position: absolute;
    background-color: var(--black-color);
    height: 2px;
    bottom: 12px;
    width: calc(100% - 1px);
    display: none;
}

.header__navbar-left-item:hover .header__navbar-left-link::before,
.header__navbar-right-item:hover .header__navbar-right-link::before {
    display: block;
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__navbar-middle-logo {
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--black-color);
    line-height: var(--height-header);
    font-family: Lucida Sans Unicode;
}

.header__navbar-right-child { 
    display: flex;
    position: absolute;
    justify-content: flex-start;
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 58px;
    padding: 0 0px 20px 54px;
    display: none;
}

.header__navbar-right-child-list { 
    list-style: none;
    margin-right: 124px;
}

.header__navbar-right-child-item { 
    line-height: 16px;
    font-size: 1rem;
}

.header__navbar-right-child-item:hover {
    opacity: 0.8;   
}

.header__navbar-right-child-link { 
    padding-left: 0 14px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
}

.header__navbar-left-child {
    position: absolute;
    background-color: var(--white-color);
    display: flex;
    justify-content: flex-end;
    top: 58px;
    display: none;
}

.header__navbar-left-item:hover .header__navbar-left-child {
    display: flex;
    animation: fadeIn ease 1s;
}

.header__navbar-left-child-search {
    height: 24px;
    width: 250px;
    margin: 0 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.header__navbar-left-child-icon {
    position: relative;
    left: -38px;
    top: 4px;
    font-size: 1.4rem;
    line-height: 80px;
    cursor: pointer;
}

/* Overlay */
.shopping-cart {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(100% - 320px);
    right: 0;
    max-width: 100%;
    width: 320px;
    background-color: var(--white-color);
    clear: both;
    z-index: 5;
    transition: transform ease 0.2s;
    opacity: 0;
}

.header__navbar-input:checked ~ .header__navbar-overlay {
    display: block;
}

.header__navbar-input:checked ~ .shopping-cart {
    transform: translateX(0);
    opacity: 1;
}

.cart-header {
    display: block;
    padding: 0 0 50px 0;
}

.cart-header__text {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    float: left;
    line-height: 3.2rem;
    margin: 10px 30px;
}

.cart-header__close {
    float: right;
    margin: 10px 20px;
    padding: 10px;
    cursor: pointer;
}

.cart-body {
    margin: 0 20px
}

.cart-body-text {
    float: left;
    margin-left: calc(100% - 340px);
}

.cart-footer {
    margin-top: calc(100% - -160px);
    margin-left: calc(100% - 310px);
}

.btn {
    width: 300px;
    opacity: 1;
    color: var(--white-color);
    padding: 12px;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: var(--black-color);
    bottom: 0;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.header__navbar-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.477);
    display: none;
    z-index: 3;
    animation: fadeIn ease 0.3s;
}
/* End overlay */

/* Content */
.content {
    margin-top: -5px;
}

.content__item-img {
    margin-top: 24px;
    max-width: 100%;
    height: auto;
}

.col-link {
    display: block;
}

.col-container-1 {
    position: relative;
    display: inline-block;
}

.col-container-1 .col-container-2 {
    display: none;
    position: absolute;
    z-index: 1;
}

.col-container-1:hover .col-container-2 {
    display: inline;
    animation: fadeIn linear .6s;
}

.col-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--white-color);
    z-index: 2;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
}

.footer-right__title {
    margin: 0 20px -24px 20px;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--text-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-right__email {
    height: 24px;
    width: 250px;
    margin: 0 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.footer-right__icon {
    position: relative;
    left: -38px;
    top: 4px;
    font-size: 1.4rem;
    line-height: 80px;
    cursor: pointer;
}

.footer-left-list {
    list-style: none;
    display: flex;
}

.footer-left-item {
    margin: 0 16px;
}

.footer-left-item:hover {
    opacity: 0.7;
}

.footer-left-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
} 


